/* ==========
Allgemein
========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-image: url(../img/photo-1635070041078-e363dbe005cb.avif);
    background-position: center;
    background-size: cover;
}
/* fonts */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/orbitron-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/orbitron-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/orbitron-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/orbitron-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/orbitron-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/orbitron-v25-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}
/* ==========
Header
========== */

/* ==========
Main
========== */
form {
    display: flex;
    align-items: center;
    /* transition:all 500ms; */
}
main {
    background-color: #fff;
    padding: 10rem 5rem;
    margin-top: 20vh;
    transition: all 750ms;
    border-radius: 50px 0 50px 0;
}
p {
    display: inline-block;
}
.random {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    font-family: Orbitron;
}
.zeichen {
    margin: auto 1rem;
    font-size: 2rem;
}
#ergebnisInput {
    height: 2.5rem;
    font-size: 1.5rem;
    width: 150px;
}
button {
    margin: auto .5rem;
    padding: .1rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #fff;
}
button:hover {
    background-color: gainsboro;
}
#ergebnis {
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.3rem;
    font-family: orbitron;
}

/* Media */
@media (max-width: 780px) {
    form {
        flex-direction: column;
    }
    main {
        padding: 3rem;
    }
    button {
        margin: .5rem auto;
    }
}